 <%- include('includes/head.ejs') %>
  <link rel="stylesheet"
        href="/css/404.css">
</head>
<body>
<main class="main">
  <h1 class="title"><%=pageTitle%></h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRza1E94fvbuBCxAXsTAcLhpEKexCI1JyiT_0azTxrIg8dak8dumg"
       alt="Page not found">
</main>
<%- include('includes/end.ejs') %>