<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list__li <%=path === '/' ? 'active' : '' %>">
        <a href="/"
           class="nav-list__link">Shop</a>
      </li>
      <li class="nav-list__li <%=path === '/admin/add-product' ? 'active' : '' %>">
        <a href="/admin/add-product"
           class="nav-list__link">Add Product</a>
      </li>
    </ul>
  </nav>
</header>